---
# tasks file for vim-bootstrap
- fail:
    msg: 'vim_config must be "vim" or "nvim"'
  when: vim_command not in ['vim', 'nvim']
- set_fact:
    vim_config_path: '{{ vim_config_dir }}/init.vim'
    vim_config_dir: '{{ ansible_env.HOME }}/.config/{{ vim_command }}'
  when: vim_command == 'nvim'
- set_fact:
    vim_config_path: '{{ ansible_env.HOME }}/.vim/vimrc'
    vim_config_dir: '{{ ansible_env.HOME }}/.vim'
  when: vim_command == 'vim'
- name: Create config directory
  file:
    path: '{{ vim_config_dir }}'
    state: directory
    recurse: yes
- name: Fetch new vimrc
  uri:
    url: https://vim-bootstrap.com/generate.vim
    method: POST
    body: '{{ lookup("vim_bootstrap_post", vim_langs, vim_frameworks, vim_theme, vim_command)|urlencode }}'
    return_content: yes
  register: vim_bootstrap_resp
- name: Write out vimrc
  copy:
    dest: '{{ vim_config_path }}'
    content: '{{ vim_bootstrap_resp.content }}'
    backup: yes
